<a href="https://colab.research.google.com/github/AlessandroVol23/ieee_cis_fraud_detection_kaggle/blob/master/notebooks/0_3_AV_Baseline_with_some_FE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model with mapping e-mail

In [0]:
import os

import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb

## Functions

In [0]:
## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## colab kaggle init

In [0]:
from google.colab import files
files.upload()

In [6]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [7]:
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 6.5MB/s
     |████████████████████████████████| 5.3MB 19.2MB/s
     |████████████████████████████████| 112kB 45.2MB/s
     |████████████████████████████████| 51kB 19.6MB/s
     |████████████████████████████████| 102kB 31.6MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [8]:
!kaggle competitions download -c ieee-fraud-detection

Downloading train_transaction.csv.zip to /content
 82% 43.0M/52.5M [00:00<00:00, 42.6MB/s]
100% 52.5M/52.5M [00:00<00:00, 67.5MB/s]
Downloading train_identity.csv.zip to /content
  0% 0.00/3.02M [00:00<?, ?B/s]
100% 3.02M/3.02M [00:00<00:00, 99.9MB/s]
Downloading test_transaction.csv.zip to /content
 70% 33.0M/47.3M [00:00<00:00, 31.1MB/s]
100% 47.3M/47.3M [00:00<00:00, 54.2MB/s]
Downloading test_identity.csv.zip to /content
  0% 0.00/2.97M [00:00<?, ?B/s]
100% 2.97M/2.97M [00:00<00:00, 97.6MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 158MB/s]

In [9]:
!ls

kaggle.json		   test_identity.csv.zip     train_transaction.csv.zip
sample_data		   test_transaction.csv.zip
sample_submission.csv.zip  train_identity.csv.zip

In [10]:
!unzip \*.zip

Archive:  train_identity.csv.zip
  inflating: train_identity.csv

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

Archive:  test_transaction.csv.zip
  inflating: test_transaction.csv

Archive:  test_identity.csv.zip
  inflating: test_identity.csv

Archive:  train_transaction.csv.zip
  inflating: train_transaction.csv

5 archives were successfully processed.

## Data

In [0]:
df_train_ident = pd.read_csv('train_identity.csv', index_col='TransactionID')
df_test_ident = pd.read_csv('test_identity.csv', index_col='TransactionID')

df_train_trans = pd.read_csv('train_transaction.csv', index_col='TransactionID')
df_test_trans = pd.read_csv('test_transaction.csv', index_col='TransactionID')

df_sample_submission = pd.read_csv('sample_submission.csv', index_col='TransactionID')

## Preprocessing

In [12]:
df_train = df_train_trans.merge(df_train_ident, how='left', left_index=True, right_index=True)
df_test = df_test_trans.merge(df_test_ident, how='left', left_index=True, right_index=True)


print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 432)

In [13]:
df_train = reduce_mem_usage(df_train)
df_test = reduce_mem_usage(df_test)

Mem. usage decreased to 668.22 Mb (66.2% reduction)
Mem. usage decreased to 583.43 Mb (65.6% reduction)

In [0]:
emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

us_emails = ['gmail', 'net', 'edu']

# https://www.kaggle.com/c/ieee-fraud-detection/discussion/100499#latest-579654
for c in ['P_emaildomain', 'R_emaildomain']:
    df_train[c + '_bin'] = df_train[c].map(emails)
    df_test[c + '_bin'] = df_test[c].map(emails)
    
    df_train[c + '_suffix'] = df_train[c].map(lambda x: str(x).split('.')[-1])
    df_test[c + '_suffix'] = df_test[c].map(lambda x: str(x).split('.')[-1])
    
    df_train[c + '_suffix'] = df_train[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    df_test[c + '_suffix'] = df_test[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')

In [15]:
df_train.head(10)

               isFraud  TransactionDT  ...  R_emaildomain_bin R_emaildomain_suffix
TransactionID                          ...
2987000              0          86400  ...                NaN                  nan
2987001              0          86401  ...                NaN                  nan
2987002              0          86469  ...                NaN                  nan
2987003              0          86499  ...                NaN                  nan
2987004              0          86506  ...                NaN                  nan
2987005              0          86510  ...                NaN                  nan
2987006              0          86522  ...                NaN                  nan
2987007              0          86529  ...                NaN                  nan
2987008              0          86535  ...                NaN                  nan
2987009              0          86536  ...                NaN                  nan

[10 rows x 437 columns]

In [0]:
# Encode all categorical features
for f in df_train.drop('isFraud', axis=1).columns:
    if df_train[f].dtype=='object' or df_test[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))

In [0]:
# Some feature engineering

df_train['Trans_min_mean'] = df_train['TransactionAmt'] - df_train['TransactionAmt'].mean()
df_train['Trans_min_std'] = df_train['Trans_min_mean'] / df_train['TransactionAmt'].std()
df_test['Trans_min_mean'] = df_test['TransactionAmt'] - df_test['TransactionAmt'].mean()
df_test['Trans_min_std'] = df_test['Trans_min_mean'] / df_test['TransactionAmt'].std()

df_train['TransactionAmt_to_mean_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_mean_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_std_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('std')
df_train['TransactionAmt_to_std_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('std')

df_test['TransactionAmt_to_mean_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_mean_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_std_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('std')
df_test['TransactionAmt_to_std_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('std')

In [18]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [0]:
df_train['TransactionAmt'] = np.log(df_train['TransactionAmt'])
df_test['TransactionAmt'] = np.log(df_test['TransactionAmt'])

## Model

In [20]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [21]:
df_test.head()

               TransactionDT  ...  TransactionAmt_to_std_card4
TransactionID                 ...
3663549             18403224  ...                     0.129883
3663550             18403263  ...                     0.199219
3663551             18403310  ...                     0.695312
3663552             18403310  ...                     1.158203
3663553             18403317  ...                     0.277344

[5 rows x 442 columns]

In [22]:
print(df_train.shape)
print(df_test.shape)

(590540, 443)
(506691, 442)

In [0]:
# Copy label
y_train = df_train['isFraud'].copy()

# Delete label
X_train = df_train.drop('isFraud', axis=1)

# Create X
X_test = df_test.copy()

del df_train, df_test, df_train_ident, df_test_ident, df_train_trans, df_test_trans

In [24]:
% time
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
EPOCHS = 3
kf = KFold(n_splits = EPOCHS, shuffle = True)
y_preds = np.zeros(df_sample_submission.shape[0])
y_oof = np.zeros(X_train.shape[0])
i = 0
for tr_idx, val_idx in kf.split(X_train, y_train):
    i += 1
    print("Split {}".format(i))
    clf = xgb.XGBClassifier(
        n_estimators=500,
        max_depth=9,
        learning_rate=0.05,
        subsample=0.9,
        colsample_bytree=0.9,
        tree_method='gpu_hist'
    )
    
    X_tr, X_vl = X_train.iloc[tr_idx, :], X_train.iloc[val_idx, :]
    y_tr, y_vl = y_train.iloc[tr_idx], y_train.iloc[val_idx]
    clf.fit(X_tr, y_tr)
    y_pred_train = clf.predict_proba(X_vl)[:,1]
    y_oof[val_idx] = y_pred_train
    print('ROC AUC {}'.format(roc_auc_score(y_vl, y_pred_train)))
    
    y_preds+= clf.predict_proba(X_test)[:,1] / EPOCHS

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.48 µs
Split 1
ROC AUC 0.9603516531707486
Split 2
ROC AUC 0.9632867348457482
Split 3
ROC AUC 0.9656583952635432

In [0]:
X_test_preds = X_test.assign(isFraud = y_preds)

In [40]:
X_test_preds.head()

               TransactionDT  ...   isFraud
TransactionID                 ...
3663549             18403224  ...  0.002487
3663550             18403263  ...  0.000911
3663551             18403310  ...  0.003142
3663552             18403310  ...  0.002745
3663553             18403317  ...  0.001375

[5 rows x 443 columns]

In [0]:
X_test_preds = X_test_preds[['isFraud']]

In [42]:
X_test_preds.head()

                isFraud
TransactionID
3663549        0.002487
3663550        0.000911
3663551        0.003142
3663552        0.002745
3663553        0.001375

In [0]:
X_test_preds.to_csv('preds.csv')

In [46]:
pd.read_csv('preds.csv').head()

   TransactionID   isFraud
0        3663549  0.002487
1        3663550  0.000911
2        3663551  0.003142
3        3663552  0.002745
4        3663553  0.001375

In [47]:
!kaggle competitions submit -c ieee-fraud-detection -f first_fe.csv -m "Baseline with some fe"

0.00B [00:00, ?B/s]
Successfully submitted to IEEE-CIS Fraud Detection