<a href="https://colab.research.google.com/github/AlessandroVol23/ieee_cis_fraud_detection_kaggle/blob/master/notebooks/0_4_AV_model_pca_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model with PCA

- Same baseline model just with some PCA on features

## Imports

In [0]:
import os

import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb

from sklearn.preprocessing import minmax_scale
from sklearn.decomposition import PCA

## Colab Kaggle Init

In [2]:
import os.path

if not os.path.exists('~/.kaggle/'):
  print("Kaggle Folder doesn't exist yet")
  from google.colab import files
  print("Please click on button an upload your kaggle.json api file")
  files.upload()
  
  !mkdir -p ~/.kaggle
  !cp kaggle.json ~/.kaggle/
  !chmod 600 ~/.kaggle/kaggle.json
  !ls ~/.kaggle
  
  !pip install -q kaggle
  !pip install -q kaggle-cli
  
  !kaggle competitions download -c ieee-fraud-detection
  
  !unzip \*.zip
  
  from IPython.display import clear_output
  clear_output()
  
  print("DONE!")
  
else:
  print("Data already exists")

DONE!

## Functions

In [0]:
## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## Data

In [4]:
# Read in datasets 
df_train_ident = pd.read_csv('train_identity.csv', index_col='TransactionID')
df_test_ident = pd.read_csv('test_identity.csv', index_col='TransactionID')

df_train_trans = pd.read_csv('train_transaction.csv', index_col='TransactionID')
df_test_trans = pd.read_csv('test_transaction.csv', index_col='TransactionID')

df_sample_submission = pd.read_csv('sample_submission.csv', index_col='TransactionID')

# Merge datasets
df_train = df_train_trans.merge(df_train_ident, how='left', left_index=True, right_index=True)
df_test = df_test_trans.merge(df_test_ident, how='left', left_index=True, right_index=True)

# Print shapes
print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 432)

## Preprocessing

In [5]:
df_train = reduce_mem_usage(df_train)
df_test = reduce_mem_usage(df_test)

Mem. usage decreased to 668.22 Mb (66.2% reduction)
Mem. usage decreased to 583.43 Mb (65.6% reduction)

In [0]:
emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

us_emails = ['gmail', 'net', 'edu']

# https://www.kaggle.com/c/ieee-fraud-detection/discussion/100499#latest-579654
for c in ['P_emaildomain', 'R_emaildomain']:
    df_train[c + '_bin'] = df_train[c].map(emails)
    df_test[c + '_bin'] = df_test[c].map(emails)
    
    df_train[c + '_suffix'] = df_train[c].map(lambda x: str(x).split('.')[-1])
    df_test[c + '_suffix'] = df_test[c].map(lambda x: str(x).split('.')[-1])
    
    df_train[c + '_suffix'] = df_train[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    df_test[c + '_suffix'] = df_test[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')

In [7]:
df_train.head(10)

               isFraud  TransactionDT  ...  R_emaildomain_bin R_emaildomain_suffix
TransactionID                          ...
2987000              0          86400  ...                NaN                  nan
2987001              0          86401  ...                NaN                  nan
2987002              0          86469  ...                NaN                  nan
2987003              0          86499  ...                NaN                  nan
2987004              0          86506  ...                NaN                  nan
2987005              0          86510  ...                NaN                  nan
2987006              0          86522  ...                NaN                  nan
2987007              0          86529  ...                NaN                  nan
2987008              0          86535  ...                NaN                  nan
2987009              0          86536  ...                NaN                  nan

[10 rows x 437 columns]

In [0]:
# Encode all categorical features
for f in df_train.drop('isFraud', axis=1).columns:
    if df_train[f].dtype=='object' or df_test[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))

In [0]:
# Some feature engineering

df_train['Trans_min_mean'] = df_train['TransactionAmt'] - df_train['TransactionAmt'].mean()
df_train['Trans_min_std'] = df_train['Trans_min_mean'] / df_train['TransactionAmt'].std()
df_test['Trans_min_mean'] = df_test['TransactionAmt'] - df_test['TransactionAmt'].mean()
df_test['Trans_min_std'] = df_test['Trans_min_mean'] / df_test['TransactionAmt'].std()

df_train['TransactionAmt_to_mean_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_mean_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_std_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('std')
df_train['TransactionAmt_to_std_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('std')

df_test['TransactionAmt_to_mean_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_mean_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_std_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('std')
df_test['TransactionAmt_to_std_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('std')

In [10]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [0]:
df_train['TransactionAmt'] = np.log(df_train['TransactionAmt'])
df_test['TransactionAmt'] = np.log(df_test['TransactionAmt'])

## PCA

In [12]:
df_test['isFraud'] = 'test'
df = pd.concat([df_train, df_test], axis = 0, sort=False)
df = df.reset_index()
#df = df.drop('index', axis=1)
df.head()

   TransactionID  ... TransactionAmt_to_std_card4
0        2987000  ...                    0.000000
1        2987001  ...                    0.114258
2        2987002  ...                    0.258545
3        2987003  ...                    0.196899
4        2987004  ...                    0.196899

[5 rows x 444 columns]

In [0]:
def PCA_change(df, cols, n_components, prefix='PCA_', rand_seed=4):
  from sklearn.preprocessing import minmax_scale
  from sklearn.decomposition import PCA
  
  pca = PCA(n_components=n_components, random_state=rand_seed)

  principalComponents = pca.fit_transform(df[cols])

  principalDf = pd.DataFrame(principalComponents)

  df.drop(cols, axis=1, inplace=True)

  principalDf.rename(columns=lambda x: str(prefix)+str(x), inplace=True)

  df = pd.concat([df, principalDf], axis=1)

  return df

In [0]:
# Get list with all V columns
mas_v = list(filter(lambda x: str.startswith(x, 'V'), list(df_train.columns)))

In [15]:
len(mas_v)

339

In [0]:
for col in mas_v:
  # Fill nas with minimum - 2
  df[col] = df[col].fillna((df[col].min() - 2))
  
  # Scale feature
  df[col] = (minmax_scale(df[col], feature_range=(0,1)))

In [0]:
df = PCA_change(df, mas_v, prefix='PCA_V_', n_components=30)

In [18]:
df.head()

   TransactionID isFraud  TransactionDT  ...  PCA_V_27  PCA_V_28  PCA_V_29
0        2987000       0          86400  ... -0.063382  0.007336 -0.051456
1        2987001       0          86401  ... -0.035260  0.004477  0.004268
2        2987002       0          86469  ... -0.000199 -0.015841 -0.000666
3        2987003       0          86499  ... -0.015629  0.049825  0.004073
4        2987004       0          86506  ...  0.007230 -0.030608  0.010876

[5 rows x 135 columns]

In [19]:
df.dtypes

TransactionID       int64
isFraud            object
TransactionDT       int32
TransactionAmt    float16
ProductCD           int64
card1               int16
card2             float16
card3             float16
card4               int64
card5             float16
card6               int64
addr1             float16
addr2             float16
dist1             float16
dist2             float16
P_emaildomain       int64
R_emaildomain       int64
C1                float16
C2                float16
C3                float16
C4                float16
C5                float16
C6                float16
C7                float16
C8                float16
C9                float16
C10               float16
C11               float16
C12               float16
C13               float16
                   ...
PCA_V_0           float64
PCA_V_1           float64
PCA_V_2           float64
PCA_V_3           float64
PCA_V_4           float64
PCA_V_5           float64
PCA_V_6           float64
PCA_V_7           float64
PCA_V_8           float64
PCA_V_9           float64
PCA_V_10          float64
PCA_V_11          float64
PCA_V_12          float64
PCA_V_13          float64
PCA_V_14          float64
PCA_V_15          float64
PCA_V_16          float64
PCA_V_17          float64
PCA_V_18          float64
PCA_V_19          float64
PCA_V_20          float64
PCA_V_21          float64
PCA_V_22          float64
PCA_V_23          float64
PCA_V_24          float64
PCA_V_25          float64
PCA_V_26          float64
PCA_V_27          float64
PCA_V_28          float64
PCA_V_29          float64
Length: 135, dtype: object

In [0]:
# Encode all categorical features
for f in df.drop('isFraud', axis=1).columns:
    if df[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

In [0]:
df_train, df_test = df[df['isFraud'] != 'test'], df[df['isFraud'] == 'test'].drop('isFraud', axis=1)

In [22]:
df_train.shape

(590540, 135)

In [0]:
X_train = df_train.sort_values('TransactionDT').drop(['isFraud', 
                                                      'TransactionDT', 
                                                      #'Card_ID'
                                                     ],
                                                     axis=1)
y_train = df_train.sort_values('TransactionDT')['isFraud'].astype(bool)

X_test = df_test.sort_values('TransactionDT').drop(['TransactionDT',
                                                    #'Card_ID'
                                                   ], 
                                                   axis=1)
del df_train
df_test = df_test[["TransactionDT"]]

In [24]:
X_train.dtypes

TransactionID       int64
TransactionAmt    float16
ProductCD           int64
card1               int16
card2             float16
card3             float16
card4               int64
card5             float16
card6               int64
addr1             float16
addr2             float16
dist1             float16
dist2             float16
P_emaildomain       int64
R_emaildomain       int64
C1                float16
C2                float16
C3                float16
C4                float16
C5                float16
C6                float16
C7                float16
C8                float16
C9                float16
C10               float16
C11               float16
C12               float16
C13               float16
C14               float16
D1                float16
                   ...
PCA_V_0           float64
PCA_V_1           float64
PCA_V_2           float64
PCA_V_3           float64
PCA_V_4           float64
PCA_V_5           float64
PCA_V_6           float64
PCA_V_7           float64
PCA_V_8           float64
PCA_V_9           float64
PCA_V_10          float64
PCA_V_11          float64
PCA_V_12          float64
PCA_V_13          float64
PCA_V_14          float64
PCA_V_15          float64
PCA_V_16          float64
PCA_V_17          float64
PCA_V_18          float64
PCA_V_19          float64
PCA_V_20          float64
PCA_V_21          float64
PCA_V_22          float64
PCA_V_23          float64
PCA_V_24          float64
PCA_V_25          float64
PCA_V_26          float64
PCA_V_27          float64
PCA_V_28          float64
PCA_V_29          float64
Length: 133, dtype: object

In [25]:
% time
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
EPOCHS = 3
kf = KFold(n_splits = EPOCHS, shuffle = True)
y_preds = np.zeros(df_sample_submission.shape[0])
y_oof = np.zeros(X_train.shape[0])
i = 0
for tr_idx, val_idx in kf.split(X_train, y_train):
    i += 1
    print("Split {}".format(i))
    clf = xgb.XGBClassifier(
        n_estimators=500,
        max_depth=9,
        learning_rate=0.05,
        subsample=0.9,
        colsample_bytree=0.9,
        tree_method='gpu_hist'
    )
    
    X_tr, X_vl = X_train.iloc[tr_idx, :], X_train.iloc[val_idx, :]
    y_tr, y_vl = y_train.iloc[tr_idx], y_train.iloc[val_idx]
    clf.fit(X_tr, y_tr)
    y_pred_train = clf.predict_proba(X_vl)[:,1]
    y_oof[val_idx] = y_pred_train
    print('ROC AUC {}'.format(roc_auc_score(y_vl, y_pred_train)))
    
    y_preds+= clf.predict_proba(X_test)[:,1] / EPOCHS

CPU times: user 2 s, sys: 0 ns, total: 2 s
Wall time: 4.05 s
Split 1
ROC AUC 0.9588900769809261
Split 2
ROC AUC 0.9633408886378165
Split 3
ROC AUC 0.9616856273054544

In [0]:
X_test_preds = X_test.assign(isFraud = y_preds)

In [27]:
X_test_preds.head()

        TransactionID  TransactionAmt  ProductCD  ...  PCA_V_28  PCA_V_29   isFraud
590540        3663549        3.464844          4  ...  0.065885  0.081385  0.000915
590541        3663550        3.892578          4  ... -0.000283 -0.011197  0.000707
590542        3663551        5.140625          4  ...  0.006103  0.005565  0.002293
590543        3663552        5.652344          4  ...  0.021598 -0.009249  0.001794
590544        3663553        4.218750          4  ... -0.037113  0.042061  0.002064

[5 rows x 134 columns]

In [0]:
X_test_preds = X_test_preds[['TransactionID', 'isFraud']]

In [29]:
X_test_preds.head()

        TransactionID   isFraud
590540        3663549  0.000915
590541        3663550  0.000707
590542        3663551  0.002293
590543        3663552  0.001794
590544        3663553  0.002064

In [0]:
X_test_preds.set_index('TransactionID', inplace=True)

In [31]:
X_test_preds.head()

                isFraud
TransactionID
3663549        0.000915
3663550        0.000707
3663551        0.002293
3663552        0.001794
3663553        0.002064

In [0]:
X_test_preds.to_csv('preds.csv')

In [33]:
pd.read_csv('preds.csv').head()

   TransactionID   isFraud
0        3663549  0.000915
1        3663550  0.000707
2        3663551  0.002293
3        3663552  0.001794
4        3663553  0.002064

In [0]:
#!kaggle competitions submit -c ieee-fraud-detection -f preds.csv -m "PCA"

## Hyperparam search

In [0]:
from sklearn.model_selection import KFold,TimeSeriesSplit, StratifiedKFold
from sklearn.metrics import roc_auc_score
from xgboost import plot_importance
from sklearn.metrics import make_scorer
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe

import time
def objective(params):
    time1 = time.time()
    params = {
        'max_depth': int(params['max_depth']),
        'gamma': "{:.3f}".format(params['gamma']),
        'subsample': "{:.2f}".format(params['subsample']),
        'reg_alpha': "{:.3f}".format(params['reg_alpha']),
        'reg_lambda': "{:.3f}".format(params['reg_lambda']),
        'learning_rate': "{:.3f}".format(params['learning_rate']),
        'num_leaves': '{:.3f}'.format(params['num_leaves']),
        'colsample_bytree': '{:.3f}'.format(params['colsample_bytree']),
        'min_child_samples': '{:.3f}'.format(params['min_child_samples']),
        'feature_fraction': '{:.3f}'.format(params['feature_fraction']),
        'bagging_fraction': '{:.3f}'.format(params['bagging_fraction'])
    }

    print("\n############## New Run ################")
    print(f"params = {params}")
    FOLDS = 7
    count=1
    skf = StratifiedKFold(n_splits=FOLDS, shuffle=True, random_state=42)

    tss = TimeSeriesSplit(n_splits=FOLDS)
    y_preds = np.zeros(df_sample_submission.shape[0])
    y_oof = np.zeros(X_train.shape[0])
    score_mean = 0
    for tr_idx, val_idx in tss.split(X_train, y_train):
        clf = xgb.XGBClassifier(
            n_estimators=600, random_state=4, verbose=True, 
            tree_method='gpu_hist', 
            **params
        )

        X_tr, X_vl = X_train.iloc[tr_idx, :], X_train.iloc[val_idx, :]
        y_tr, y_vl = y_train.iloc[tr_idx], y_train.iloc[val_idx]
        
        clf.fit(X_tr, y_tr)
        #y_pred_train = clf.predict_proba(X_vl)[:,1]
        #print(y_pred_train)
        score = make_scorer(roc_auc_score, needs_proba=True)(clf, X_vl, y_vl)
        # plt.show()
        score_mean += score
        print(f'{count} CV - score: {round(score, 4)}')
        count += 1
    time2 = time.time() - time1
    print(f"Total Time Run: {round(time2 / 60,2)}")
    gc.collect()
    print(f'Mean ROC_AUC: {score_mean / FOLDS}')
    del X_tr, X_vl, y_tr, y_vl, clf, score
    return -(score_mean / FOLDS)


space = {
    # The maximum depth of a tree, same as GBM.
    # Used to control over-fitting as higher depth will allow model 
    # to learn relations very specific to a particular sample.
    # Should be tuned using CV.
    # Typical values: 3-10
    'max_depth': hp.quniform('max_depth', 7, 23, 1),
    
    # reg_alpha: L1 regularization term. L1 regularization encourages sparsity 
    # (meaning pulling weights to 0). It can be more useful when the objective
    # is logistic regression since you might need help with feature selection.
    'reg_alpha':  hp.uniform('reg_alpha', 0.01, 0.4),
    
    # reg_lambda: L2 regularization term. L2 encourages smaller weights, this
    # approach can be more useful in tree-models where zeroing 
    # features might not make much sense.
    'reg_lambda': hp.uniform('reg_lambda', 0.01, .4),
    
    # eta: Analogous to learning rate in GBM
    # Makes the model more robust by shrinking the weights on each step
    # Typical final values to be used: 0.01-0.2
    'learning_rate': hp.uniform('learning_rate', 0.01, 0.2),
    
    # colsample_bytree: Similar to max_features in GBM. Denotes the 
    # fraction of columns to be randomly samples for each tree.
    # Typical values: 0.5-1
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, .9),
    
    # A node is split only when the resulting split gives a positive
    # reduction in the loss function. Gamma specifies the 
    # minimum loss reduction required to make a split.
    # Makes the algorithm conservative. The values can vary depending on the loss function and should be tuned.
    'gamma': hp.uniform('gamma', 0.01, .7),
    
    # more increases accuracy, but may lead to overfitting.
    # num_leaves: the number of leaf nodes to use. Having a large number 
    # of leaves will improve accuracy, but will also lead to overfitting.
    'num_leaves': hp.choice('num_leaves', list(range(20, 250, 10))),
    
    # specifies the minimum samples per leaf node.
    # the minimum number of samples (data) to group into a leaf. 
    # The parameter can greatly assist with overfitting: larger sample
    # sizes per leaf will reduce overfitting (but may lead to under-fitting).
    'min_child_samples': hp.choice('min_child_samples', list(range(100, 250, 10))),
    
    # subsample: represents a fraction of the rows (observations) to be 
    # considered when building each subtree. Tianqi Chen and Carlos Guestrin
    # in their paper A Scalable Tree Boosting System recommend 
    'subsample': hp.choice('subsample', [0.2, 0.4, 0.5, 0.6, 0.7, .8, .9]),
    
    # randomly select a fraction of the features.
    # feature_fraction: controls the subsampling of features used
    # for training (as opposed to subsampling the actual training data in 
    # the case of bagging). Smaller fractions reduce overfitting.
    'feature_fraction': hp.uniform('feature_fraction', 0.4, .8),
    
    # randomly bag or subsample training data.
    'bagging_fraction': hp.uniform('bagging_fraction', 0.4, .9)
    
    # bagging_fraction and bagging_freq: enables bagging (subsampling) 
    # of the training data. Both values need to be set for bagging to be used.
    # The frequency controls how often (iteration) bagging is used. Smaller
    # fractions and frequencies reduce overfitting.
}

In [36]:
# Set algoritm parameters
best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=27)

# Print best parameters
best_params = space_eval(space, best)

############## New Run ################
params = {'max_depth': 12, 'gamma': '0.457', 'subsample': '0.20', 'reg_alpha': '0.157', 'reg_lambda': '0.066', 'learning_rate': '0.128', 'num_leaves': '90.000', 'colsample_bytree': '0.827', 'min_child_samples': '230.000', 'feature_fraction': '0.701', 'bagging_fraction': '0.885'}
1 CV - score: 0.8794
2 CV - score: 0.8715
3 CV - score: 0.8966
4 CV - score: 0.8681
5 CV - score: 0.8992
6 CV - score: 0.8879
7 CV - score: 0.8912
Total Time Run: 3.16
  0%|          | 0/27 [03:09<?, ?it/s, best loss: ?]

NameError: ignored