<a href="https://colab.research.google.com/github/AlessandroVol23/ieee_cis_fraud_detection_kaggle/blob/tensorflow-weighting/notebooks/0_5_TW_TF_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Baseline with Tensorflow

- In this notebook I'll build a baseline with tensorflow keras.
- For this kind of challenge it is very unlikely that deep learning will perform better then gradient boosting but I want to get some experience with tensorflow and it would make sense for stacking different models

In [0]:
import os
import datetime

import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb

import tensorflow as tf

## Functions

In [0]:
# Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## colab kaggle init

In [3]:
import os.path

if not os.path.exists('kaggle.json'):
  print("Kaggle Folder doesn't exist yet")
  from google.colab import files
  print("Please click on button an upload your kaggle.json api file")
  files.upload()
  
  !mkdir -p ~/.kaggle
  !cp kaggle.json ~/.kaggle/
  !chmod 600 ~/.kaggle/kaggle.json
  !ls ~/.kaggle
  
  !pip install -q kaggle
  !pip install -q kaggle-cli
  
  !kaggle competitions download -c ieee-fraud-detection
  
  !unzip \*.zip
  
  from IPython.display import clear_output
  clear_output()
  
  print("DONE!")
  
else:
  print("Data already exists")

Data already exists

## Data

In [0]:
df_train_ident = pd.read_csv('train_identity.csv', index_col='TransactionID')
df_test_ident = pd.read_csv('test_identity.csv', index_col='TransactionID')

df_train_trans = pd.read_csv('train_transaction.csv', index_col='TransactionID')
df_test_trans = pd.read_csv('test_transaction.csv', index_col='TransactionID')

df_sample_submission = pd.read_csv('sample_submission.csv', index_col='TransactionID')

## Preprocessing

In [5]:
df_train = df_train_trans.merge(df_train_ident, how='left', left_index=True, right_index=True)
df_test = df_test_trans.merge(df_test_ident, how='left', left_index=True, right_index=True)


print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 432)

In [6]:
df_train = reduce_mem_usage(df_train)
df_test = reduce_mem_usage(df_test)

Mem. usage decreased to 668.22 Mb (66.2% reduction)
Mem. usage decreased to 583.43 Mb (65.6% reduction)

In [0]:
emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

us_emails = ['gmail', 'net', 'edu']

# https://www.kaggle.com/c/ieee-fraud-detection/discussion/100499#latest-579654
for c in ['P_emaildomain', 'R_emaildomain']:
    df_train[c + '_bin'] = df_train[c].map(emails)
    df_test[c + '_bin'] = df_test[c].map(emails)
    
    df_train[c + '_suffix'] = df_train[c].map(lambda x: str(x).split('.')[-1])
    df_test[c + '_suffix'] = df_test[c].map(lambda x: str(x).split('.')[-1])
    
    df_train[c + '_suffix'] = df_train[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    df_test[c + '_suffix'] = df_test[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')

In [8]:
df_train.head(10)

               isFraud  TransactionDT  ...  R_emaildomain_bin R_emaildomain_suffix
TransactionID                          ...
2987000              0          86400  ...                NaN                  nan
2987001              0          86401  ...                NaN                  nan
2987002              0          86469  ...                NaN                  nan
2987003              0          86499  ...                NaN                  nan
2987004              0          86506  ...                NaN                  nan
2987005              0          86510  ...                NaN                  nan
2987006              0          86522  ...                NaN                  nan
2987007              0          86529  ...                NaN                  nan
2987008              0          86535  ...                NaN                  nan
2987009              0          86536  ...                NaN                  nan

[10 rows x 437 columns]

In [0]:
# Encode all categorical features
for f in df_train.drop('isFraud', axis=1).columns:
    if df_train[f].dtype=='object' or df_test[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))

In [0]:
# Some feature engineering

df_train['Trans_min_mean'] = df_train['TransactionAmt'] - df_train['TransactionAmt'].mean()
df_train['Trans_min_std'] = df_train['Trans_min_mean'] / df_train['TransactionAmt'].std()
df_test['Trans_min_mean'] = df_test['TransactionAmt'] - df_test['TransactionAmt'].mean()
df_test['Trans_min_std'] = df_test['Trans_min_mean'] / df_test['TransactionAmt'].std()

df_train['TransactionAmt_to_mean_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_mean_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_std_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('std')
df_train['TransactionAmt_to_std_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('std')

df_test['TransactionAmt_to_mean_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_mean_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_std_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('std')
df_test['TransactionAmt_to_std_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('std')

In [11]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [0]:
df_train['TransactionAmt'] = np.log(df_train['TransactionAmt'])
df_test['TransactionAmt'] = np.log(df_test['TransactionAmt'])

## Model

In [13]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [14]:
df_test.head()

               TransactionDT  ...  TransactionAmt_to_std_card4
TransactionID                 ...
3663549             18403224  ...                     0.129883
3663550             18403263  ...                     0.199219
3663551             18403310  ...                     0.695312
3663552             18403310  ...                     1.158203
3663553             18403317  ...                     0.277344

[5 rows x 442 columns]

In [15]:
print(df_train.shape)
print(df_test.shape)

(590540, 443)
(506691, 442)

In [0]:
# Copy label
y_train = df_train['isFraud'].copy()

# Delete label
X_train = df_train.drop('isFraud', axis=1)

# Create X
X_test = df_test.copy()

del df_train, df_test, df_train_ident, df_test_ident, df_train_trans, df_test_trans

In [17]:
X_train.head()

               TransactionDT  ...  TransactionAmt_to_std_card4
TransactionID                 ...
2987000                86400  ...                     0.000000
2987001                86401  ...                     0.114258
2987002                86469  ...                     0.258545
2987003                86499  ...                     0.196899
2987004                86506  ...                     0.196899

[5 rows x 442 columns]

In [0]:
sample_X = X_train.copy()

In [0]:
sample_X.fillna(-1, inplace=True)

In [0]:
sample_X[:] = np.nan_to_num(sample_X)

In [21]:
sample_X.shape

(590540, 442)

In [22]:
_END_ROWS = 440
x = sample_X.values[:, :_END_ROWS]
y = y_train.values[:]

print("Null values in x: ", np.isnan(x).sum())
print("Null values in y: ", np.isnan(y).sum())

print("Shape x: ", x.shape)
print("Shape y: ", y.shape)

Null values in x:  0
Null values in y:  0
Shape x:  (590540, 440)
Shape y:  (590540,)

## Z-Normalization

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

## Split Set by 1:2 randomly

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(
    x, y, test_size=0.33, random_state=42)

# Check balance of labels
from collections import Counter
counter_train = Counter(y_train)
counter_val = Counter(y_val)
print("Training: ", counter_train, "Percentage True:", counter_train[1]/x_train.shape[0] * 100)
print("Validation: ", counter_val, "Percentage True:", counter_val[1]/x_val.shape[0] * 100)

Training:  Counter({0: 381944, 1: 13717}) Percentage True: 3.4668567283608946
Validation:  Counter({0: 187933, 1: 6946}) Percentage True: 3.564262952909241

# Modelling with Tensorflow

## Set Hyperparameters

In [0]:
input_dim = x_train.shape[1]
batch_size = 512
num_epochs = 50
optimizer = "adam"

hidden_layer_1 = 1024
hidden_layer_2 = 512
hidden_layer_3 = 128
hidden_layer_4 = 64

class_weight = {0: 1,
                1: 15}

## Set up AUC as metric

In [0]:
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    tf.keras.backend.get_session().run(tf.local_variables_initializer())
    return auc

In [0]:
## Build model structure

In [0]:
def create_model():
  return tf.keras.models.Sequential([
    tf.keras.layers.Dense(hidden_layer_1,  input_shape=[input_dim], activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_2, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_3, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_4, activation='relu'),
    tf.keras.layers.Dense(units=1, activation='sigmoid')
  ])

In [0]:
## Set up training procedure

In [0]:
def train_model():
  
  model = create_model()
  model.summary()
  model.compile(optimizer=optimizer,
                loss="binary_crossentropy",
                metrics=[auc, 'accuracy'])

  logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
  tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

  model.fit(x=x_train, 
            y=y_train, 
            epochs=num_epochs,
            batch_size=batch_size,
            validation_data=(x_val, y_val),
            class_weight=class_weight,
            callbacks=[tensorboard_callback])

In [31]:
train_model()

WARNING: Logging before flag parsing goes to stderr.
W0904 11:44:15.798068 140114779707264 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0904 11:44:16.092308 140114779707264 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/metrics_impl.py:809: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              451584
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               65664
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 1,050,369
Trainable params: 1,050,369
Non-trainable params: 0
_________________________________________________________________

W0904 11:44:16.723737 140114779707264 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 395661 samples, validate on 194879 samples
Epoch 1/50
395661/395661 [==============================] - 11s 27us/sample - loss: 0.6726 - auc: 0.8165 - acc: 0.8883 - val_loss: 0.2354 - val_auc: 0.8434 - val_acc: 0.9247
Epoch 2/50
395661/395661 [==============================] - 28s 72us/sample - loss: 0.6131 - auc: 0.8512 - acc: 0.9015 - val_loss: 0.3141 - val_auc: 0.8558 - val_acc: 0.9312
Epoch 3/50
395661/395661 [==============================] - 28s 72us/sample - loss: 0.5867 - auc: 0.8595 - acc: 0.9103 - val_loss: 0.2793 - val_auc: 0.8638 - val_acc: 0.9079
Epoch 4/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.5668 - auc: 0.8674 - acc: 0.9158 - val_loss: 0.2468 - val_auc: 0.8704 - val_acc: 0.9270
Epoch 5/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.5493 - auc: 0.8731 - acc: 0.9185 - val_loss: 0.2703 - val_auc: 0.8754 - val_acc: 0.9150
Epoch 6/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.5362 - auc: 0.8775 - acc: 0.9213 - val_loss: 0.2675 - val_auc: 0.8794 - val_acc: 0.9122
Epoch 7/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.5241 - auc: 0.8811 - acc: 0.9237 - val_loss: 0.2273 - val_auc: 0.8828 - val_acc: 0.9337
Epoch 8/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.5130 - auc: 0.8845 - acc: 0.9242 - val_loss: 0.2329 - val_auc: 0.8858 - val_acc: 0.9486
Epoch 9/50
395661/395661 [==============================] - 28s 72us/sample - loss: 0.5012 - auc: 0.8872 - acc: 0.9282 - val_loss: 0.2381 - val_auc: 0.8887 - val_acc: 0.9321
Epoch 10/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4912 - auc: 0.8901 - acc: 0.9277 - val_loss: 0.1972 - val_auc: 0.8913 - val_acc: 0.9382
Epoch 11/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4824 - auc: 0.8925 - acc: 0.9297 - val_loss: 0.2237 - val_auc: 0.8938 - val_acc: 0.9394
Epoch 12/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4726 - auc: 0.8951 - acc: 0.9311 - val_loss: 0.2467 - val_auc: 0.8961 - val_acc: 0.9318
Epoch 13/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4595 - auc: 0.8974 - acc: 0.9328 - val_loss: 0.1966 - val_auc: 0.8983 - val_acc: 0.9428
Epoch 14/50
395661/395661 [==============================] - 28s 70us/sample - loss: 0.4504 - auc: 0.8995 - acc: 0.9335 - val_loss: 0.2104 - val_auc: 0.9004 - val_acc: 0.9461
Epoch 15/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4436 - auc: 0.9015 - acc: 0.9356 - val_loss: 0.2189 - val_auc: 0.9023 - val_acc: 0.9424
Epoch 16/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4343 - auc: 0.9032 - acc: 0.9374 - val_loss: 0.2042 - val_auc: 0.9041 - val_acc: 0.9376
Epoch 17/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4241 - auc: 0.9051 - acc: 0.9389 - val_loss: 0.1927 - val_auc: 0.9060 - val_acc: 0.9476
Epoch 18/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4179 - auc: 0.9068 - acc: 0.9382 - val_loss: 0.2142 - val_auc: 0.9076 - val_acc: 0.9411
Epoch 19/50
395661/395661 [==============================] - 28s 72us/sample - loss: 0.4118 - auc: 0.9084 - acc: 0.9395 - val_loss: 0.1761 - val_auc: 0.9092 - val_acc: 0.9486
Epoch 20/50
395661/395661 [==============================] - 28s 71us/sample - loss: 0.4044 - auc: 0.9100 - acc: 0.9413 - val_loss: 0.2031 - val_auc: 0.9108 - val_acc: 0.9396
Epoch 21/50
395661/395661 [==============================] - 28s 70us/sample - loss: 0.3941 - auc: 0.9116 - acc: 0.9430 - val_loss: 0.2024 - val_auc: 0.9123 - val_acc: 0.9433
Epoch 22/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3902 - auc: 0.9131 - acc: 0.9429 - val_loss: 0.1994 - val_auc: 0.9138 - val_acc: 0.9406
Epoch 23/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3838 - auc: 0.9144 - acc: 0.9434 - val_loss: 0.1884 - val_auc: 0.9151 - val_acc: 0.9530
Epoch 24/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3785 - auc: 0.9157 - acc: 0.9443 - val_loss: 0.2007 - val_auc: 0.9164 - val_acc: 0.9476
Epoch 25/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3740 - auc: 0.9170 - acc: 0.9450 - val_loss: 0.1715 - val_auc: 0.9176 - val_acc: 0.9521
Epoch 26/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3661 - auc: 0.9182 - acc: 0.9461 - val_loss: 0.2148 - val_auc: 0.9188 - val_acc: 0.9318
Epoch 27/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3616 - auc: 0.9194 - acc: 0.9473 - val_loss: 0.1886 - val_auc: 0.9200 - val_acc: 0.9455
Epoch 28/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3593 - auc: 0.9206 - acc: 0.9459 - val_loss: 0.1915 - val_auc: 0.9211 - val_acc: 0.9453
Epoch 29/50
395661/395661 [==============================] - 27s 69us/sample - loss: 0.3501 - auc: 0.9217 - acc: 0.9458 - val_loss: 0.1682 - val_auc: 0.9222 - val_acc: 0.9523
Epoch 30/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3453 - auc: 0.9227 - acc: 0.9482 - val_loss: 0.1639 - val_auc: 0.9232 - val_acc: 0.9537
Epoch 31/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3418 - auc: 0.9236 - acc: 0.9482 - val_loss: 0.1599 - val_auc: 0.9241 - val_acc: 0.9604
Epoch 32/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3407 - auc: 0.9246 - acc: 0.9500 - val_loss: 0.1801 - val_auc: 0.9250 - val_acc: 0.9524
Epoch 33/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3324 - auc: 0.9255 - acc: 0.9489 - val_loss: 0.1571 - val_auc: 0.9259 - val_acc: 0.9528
Epoch 34/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3275 - auc: 0.9263 - acc: 0.9496 - val_loss: 0.1451 - val_auc: 0.9267 - val_acc: 0.9598
Epoch 35/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3234 - auc: 0.9271 - acc: 0.9503 - val_loss: 0.1436 - val_auc: 0.9275 - val_acc: 0.9557
Epoch 36/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3205 - auc: 0.9279 - acc: 0.9502 - val_loss: 0.1494 - val_auc: 0.9282 - val_acc: 0.9592
Epoch 37/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.3146 - auc: 0.9286 - acc: 0.9518 - val_loss: 0.1549 - val_auc: 0.9290 - val_acc: 0.9591
Epoch 38/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3120 - auc: 0.9294 - acc: 0.9512 - val_loss: 0.1764 - val_auc: 0.9298 - val_acc: 0.9473
Epoch 39/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3091 - auc: 0.9302 - acc: 0.9515 - val_loss: 0.1356 - val_auc: 0.9305 - val_acc: 0.9643
Epoch 40/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3016 - auc: 0.9309 - acc: 0.9532 - val_loss: 0.1619 - val_auc: 0.9313 - val_acc: 0.9482
Epoch 41/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.3021 - auc: 0.9316 - acc: 0.9517 - val_loss: 0.1539 - val_auc: 0.9319 - val_acc: 0.9518
Epoch 42/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2988 - auc: 0.9322 - acc: 0.9526 - val_loss: 0.1371 - val_auc: 0.9326 - val_acc: 0.9589
Epoch 43/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.2997 - auc: 0.9329 - acc: 0.9525 - val_loss: 0.1468 - val_auc: 0.9332 - val_acc: 0.9573
Epoch 44/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2889 - auc: 0.9335 - acc: 0.9536 - val_loss: 0.1434 - val_auc: 0.9338 - val_acc: 0.9626
Epoch 45/50
395661/395661 [==============================] - 27s 68us/sample - loss: 0.2891 - auc: 0.9341 - acc: 0.9539 - val_loss: 0.1343 - val_auc: 0.9344 - val_acc: 0.9650
Epoch 46/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2833 - auc: 0.9347 - acc: 0.9535 - val_loss: 0.1706 - val_auc: 0.9350 - val_acc: 0.9442
Epoch 47/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2805 - auc: 0.9353 - acc: 0.9531 - val_loss: 0.1464 - val_auc: 0.9356 - val_acc: 0.9582
Epoch 48/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2812 - auc: 0.9358 - acc: 0.9544 - val_loss: 0.1313 - val_auc: 0.9361 - val_acc: 0.9603
Epoch 49/50
395661/395661 [==============================] - 26s 67us/sample - loss: 0.2793 - auc: 0.9363 - acc: 0.9547 - val_loss: 0.1419 - val_auc: 0.9366 - val_acc: 0.9590
Epoch 50/50
395661/395661 [==============================] - 27s 67us/sample - loss: 0.2709 - auc: 0.9369 - acc: 0.9556 - val_loss: 0.1442 - val_auc: 0.9372 - val_acc: 0.9557

In [32]:
%load_ext tensorboard
%tensorboard --logdir logs

Reusing TensorBoard on port 6006 (pid 479), started 1:11:22 ago. (Use '!kill 479' to kill it.)