<a href="https://colab.research.google.com/github/AlessandroVol23/ieee_cis_fraud_detection_kaggle/blob/tensorflow-weighting/notebooks/0_5_TW_TF_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Baseline with Tensorflow

- In this notebook I'll build a baseline with tensorflow keras.
- For this kind of challenge it is very unlikely that deep learning will perform better then gradient boosting but I want to get some experience with tensorflow and it would make sense for stacking different models

In [0]:
import os
import datetime

import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb

import tensorflow as tf

## Functions

In [0]:
# Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## colab kaggle init

In [3]:
import os.path

if not os.path.exists('kaggle.json'):
  print("Kaggle Folder doesn't exist yet")
  from google.colab import files
  print("Please click on button an upload your kaggle.json api file")
  files.upload()
  
  !mkdir -p ~/.kaggle
  !cp kaggle.json ~/.kaggle/
  !chmod 600 ~/.kaggle/kaggle.json
  !ls ~/.kaggle
  
  !pip install -q kaggle
  !pip install -q kaggle-cli
  
  !kaggle competitions download -c ieee-fraud-detection
  
  !unzip \*.zip
  
  from IPython.display import clear_output
  clear_output()
  
  print("DONE!")
  
else:
  print("Data already exists")

Data already exists

## Data

In [0]:
df_train_ident = pd.read_csv('train_identity.csv', index_col='TransactionID')
df_test_ident = pd.read_csv('test_identity.csv', index_col='TransactionID')

df_train_trans = pd.read_csv('train_transaction.csv', index_col='TransactionID')
df_test_trans = pd.read_csv('test_transaction.csv', index_col='TransactionID')

df_sample_submission = pd.read_csv('sample_submission.csv', index_col='TransactionID')

## Preprocessing

In [5]:
df_train = df_train_trans.merge(df_train_ident, how='left', left_index=True, right_index=True)
df_test = df_test_trans.merge(df_test_ident, how='left', left_index=True, right_index=True)


print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 432)

In [6]:
df_train = reduce_mem_usage(df_train)
df_test = reduce_mem_usage(df_test)

Mem. usage decreased to 668.22 Mb (66.2% reduction)
Mem. usage decreased to 583.43 Mb (65.6% reduction)

In [0]:
emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

us_emails = ['gmail', 'net', 'edu']

# https://www.kaggle.com/c/ieee-fraud-detection/discussion/100499#latest-579654
for c in ['P_emaildomain', 'R_emaildomain']:
    df_train[c + '_bin'] = df_train[c].map(emails)
    df_test[c + '_bin'] = df_test[c].map(emails)
    
    df_train[c + '_suffix'] = df_train[c].map(lambda x: str(x).split('.')[-1])
    df_test[c + '_suffix'] = df_test[c].map(lambda x: str(x).split('.')[-1])
    
    df_train[c + '_suffix'] = df_train[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    df_test[c + '_suffix'] = df_test[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')

In [8]:
df_train.head(10)

               isFraud  TransactionDT  ...  R_emaildomain_bin R_emaildomain_suffix
TransactionID                          ...
2987000              0          86400  ...                NaN                  nan
2987001              0          86401  ...                NaN                  nan
2987002              0          86469  ...                NaN                  nan
2987003              0          86499  ...                NaN                  nan
2987004              0          86506  ...                NaN                  nan
2987005              0          86510  ...                NaN                  nan
2987006              0          86522  ...                NaN                  nan
2987007              0          86529  ...                NaN                  nan
2987008              0          86535  ...                NaN                  nan
2987009              0          86536  ...                NaN                  nan

[10 rows x 437 columns]

In [0]:
# Encode all categorical features
for f in df_train.drop('isFraud', axis=1).columns:
    if df_train[f].dtype=='object' or df_test[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))

In [0]:
# Some feature engineering

df_train['Trans_min_mean'] = df_train['TransactionAmt'] - df_train['TransactionAmt'].mean()
df_train['Trans_min_std'] = df_train['Trans_min_mean'] / df_train['TransactionAmt'].std()
df_test['Trans_min_mean'] = df_test['TransactionAmt'] - df_test['TransactionAmt'].mean()
df_test['Trans_min_std'] = df_test['Trans_min_mean'] / df_test['TransactionAmt'].std()

df_train['TransactionAmt_to_mean_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_mean_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('mean')
df_train['TransactionAmt_to_std_card1'] = df_train['TransactionAmt'] / df_train.groupby(['card1'])['TransactionAmt'].transform('std')
df_train['TransactionAmt_to_std_card4'] = df_train['TransactionAmt'] / df_train.groupby(['card4'])['TransactionAmt'].transform('std')

df_test['TransactionAmt_to_mean_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_mean_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('mean')
df_test['TransactionAmt_to_std_card1'] = df_test['TransactionAmt'] / df_test.groupby(['card1'])['TransactionAmt'].transform('std')
df_test['TransactionAmt_to_std_card4'] = df_test['TransactionAmt'] / df_test.groupby(['card4'])['TransactionAmt'].transform('std')

In [11]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [0]:
df_train['TransactionAmt'] = np.log(df_train['TransactionAmt'])
df_test['TransactionAmt'] = np.log(df_test['TransactionAmt'])

## Model

In [13]:
df_train.head()

               isFraud  ...  TransactionAmt_to_std_card4
TransactionID           ...
2987000              0  ...                     0.000000
2987001              0  ...                     0.114258
2987002              0  ...                     0.258545
2987003              0  ...                     0.196899
2987004              0  ...                     0.196899

[5 rows x 443 columns]

In [14]:
df_test.head()

               TransactionDT  ...  TransactionAmt_to_std_card4
TransactionID                 ...
3663549             18403224  ...                     0.129883
3663550             18403263  ...                     0.199219
3663551             18403310  ...                     0.695312
3663552             18403310  ...                     1.158203
3663553             18403317  ...                     0.277344

[5 rows x 442 columns]

In [15]:
print(df_train.shape)
print(df_test.shape)

(590540, 443)
(506691, 442)

In [0]:
# Copy label
y_train = df_train['isFraud'].copy()

# Delete label
X_train = df_train.drop('isFraud', axis=1)

# Create X
X_test = df_test.copy()

del df_train, df_test, df_train_ident, df_test_ident, df_train_trans, df_test_trans

In [17]:
X_train.head()

               TransactionDT  ...  TransactionAmt_to_std_card4
TransactionID                 ...
2987000                86400  ...                     0.000000
2987001                86401  ...                     0.114258
2987002                86469  ...                     0.258545
2987003                86499  ...                     0.196899
2987004                86506  ...                     0.196899

[5 rows x 442 columns]

In [0]:
sample_X = X_train.copy()

In [0]:
sample_X.fillna(-1, inplace=True)

In [0]:
sample_X[:] = np.nan_to_num(sample_X)

In [21]:
sample_X.shape

(590540, 442)

In [22]:
_END_ROWS = 440
x = sample_X.values[:, :_END_ROWS]
y = y_train.values[:]

print("Null values in x: ", np.isnan(x).sum())
print("Null values in y: ", np.isnan(y).sum())

print("Shape x: ", x.shape)
print("Shape y: ", y.shape)

Null values in x:  0
Null values in y:  0
Shape x:  (590540, 440)
Shape y:  (590540,)

## Z-Normalization

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

## Split Set by 1:2 randomly

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(
    x, y, test_size=0.33, random_state=42)

# Check balance of labels
from collections import Counter
counter_train = Counter(y_train)
counter_val = Counter(y_val)
print("Training: ", counter_train, "Percentage True:", counter_train[1]/x_train.shape[0] * 100)
print("Validation: ", counter_val, "Percentage True:", counter_val[1]/x_val.shape[0] * 100)

Training:  Counter({0: 381944, 1: 13717}) Percentage True: 3.4668567283608946
Validation:  Counter({0: 187933, 1: 6946}) Percentage True: 3.564262952909241

# Modelling with Tensorflow

## Set Hyperparameters

In [0]:
input_dim = x_train.shape[1]
batch_size = 512
num_epochs = 30
optimizer = "adam"

hidden_layer_1 = 512
hidden_layer_2 = 256
hidden_layer_3 = 128
hidden_layer_4 = 64

class_weight = {0: 1,
                1: 15}

## Set up AUC as metric

In [0]:
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    tf.keras.backend.get_session().run(tf.local_variables_initializer())
    return auc

In [0]:
## Build model structure

In [0]:
def create_model():
  return tf.keras.models.Sequential([
    tf.keras.layers.Dense(hidden_layer_1,  input_shape=[input_dim], activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_2, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_3, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(hidden_layer_4, activation='relu'),
    tf.keras.layers.Dense(units=1, activation='sigmoid')
  ])

In [0]:
## Set up training procedure

In [0]:
def train_model():
  
  model = create_model()
  model.summary()
  model.compile(optimizer=optimizer,
                loss="binary_crossentropy",
                metrics=[auc, 'accuracy'])

  logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
  tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

  model.fit(x=x_train, 
            y=y_train, 
            epochs=num_epochs,
            batch_size=batch_size,
            validation_data=(x_val, y_val),
            class_weight=class_weight,
            callbacks=[tensorboard_callback])

In [31]:
train_model()

WARNING: Logging before flag parsing goes to stderr.
W0904 11:06:55.698489 140436509128576 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0904 11:06:55.990785 140436509128576 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/metrics_impl.py:809: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               225792
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 398,337
Trainable params: 398,337
Non-trainable params: 0
_________________________________________________________________

W0904 11:06:56.634615 140436509128576 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 395661 samples, validate on 194879 samples
Epoch 1/30
395661/395661 [==============================] - 10s 24us/sample - loss: 0.6771 - auc: 0.8118 - acc: 0.8896 - val_loss: 0.3386 - val_auc: 0.8443 - val_acc: 0.8814
Epoch 2/30
395661/395661 [==============================] - 18s 45us/sample - loss: 0.6193 - auc: 0.8520 - acc: 0.9029 - val_loss: 0.2394 - val_auc: 0.8566 - val_acc: 0.9179
Epoch 3/30
395661/395661 [==============================] - 18s 45us/sample - loss: 0.5928 - auc: 0.8608 - acc: 0.9075 - val_loss: 0.2335 - val_auc: 0.8641 - val_acc: 0.9308
Epoch 4/30
395661/395661 [==============================] - 18s 45us/sample - loss: 0.5703 - auc: 0.8674 - acc: 0.9136 - val_loss: 0.2699 - val_auc: 0.8702 - val_acc: 0.9103
Epoch 5/30
395661/395661 [==============================] - 18s 44us/sample - loss: 0.5566 - auc: 0.8727 - acc: 0.9155 - val_loss: 0.2744 - val_auc: 0.8746 - val_acc: 0.9164
Epoch 6/30
395661/395661 [==============================] - 18s 44us/sample - loss: 0.5408 - auc: 0.8765 - acc: 0.9189 - val_loss: 0.2500 - val_auc: 0.8785 - val_acc: 0.9242
Epoch 7/30
395661/395661 [==============================] - 18s 44us/sample - loss: 0.5319 - auc: 0.8805 - acc: 0.9209 - val_loss: 0.2082 - val_auc: 0.8819 - val_acc: 0.9381
Epoch 8/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.5192 - auc: 0.8834 - acc: 0.9239 - val_loss: 0.2400 - val_auc: 0.8847 - val_acc: 0.9112
Epoch 9/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.5098 - auc: 0.8859 - acc: 0.9250 - val_loss: 0.2324 - val_auc: 0.8874 - val_acc: 0.9278
Epoch 10/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4977 - auc: 0.8888 - acc: 0.9241 - val_loss: 0.2429 - val_auc: 0.8901 - val_acc: 0.9321
Epoch 11/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.4894 - auc: 0.8913 - acc: 0.9263 - val_loss: 0.2019 - val_auc: 0.8924 - val_acc: 0.9392
Epoch 12/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4785 - auc: 0.8935 - acc: 0.9272 - val_loss: 0.2310 - val_auc: 0.8945 - val_acc: 0.9377
Epoch 13/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4689 - auc: 0.8956 - acc: 0.9285 - val_loss: 0.2468 - val_auc: 0.8967 - val_acc: 0.9199
Epoch 14/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.4626 - auc: 0.8977 - acc: 0.9294 - val_loss: 0.1953 - val_auc: 0.8987 - val_acc: 0.9471
Epoch 15/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4547 - auc: 0.8997 - acc: 0.9314 - val_loss: 0.2312 - val_auc: 0.9006 - val_acc: 0.9288
Epoch 16/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4473 - auc: 0.9015 - acc: 0.9324 - val_loss: 0.1796 - val_auc: 0.9023 - val_acc: 0.9498
Epoch 17/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4396 - auc: 0.9031 - acc: 0.9339 - val_loss: 0.2011 - val_auc: 0.9039 - val_acc: 0.9443
Epoch 18/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.4310 - auc: 0.9047 - acc: 0.9348 - val_loss: 0.2248 - val_auc: 0.9055 - val_acc: 0.9291
Epoch 19/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.4268 - auc: 0.9062 - acc: 0.9356 - val_loss: 0.1687 - val_auc: 0.9069 - val_acc: 0.9532
Epoch 20/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.4185 - auc: 0.9077 - acc: 0.9370 - val_loss: 0.2160 - val_auc: 0.9085 - val_acc: 0.9327
Epoch 21/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4156 - auc: 0.9092 - acc: 0.9361 - val_loss: 0.1949 - val_auc: 0.9098 - val_acc: 0.9460
Epoch 22/30
395661/395661 [==============================] - 18s 44us/sample - loss: 0.4112 - auc: 0.9105 - acc: 0.9365 - val_loss: 0.1707 - val_auc: 0.9111 - val_acc: 0.9461
Epoch 23/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.4015 - auc: 0.9118 - acc: 0.9389 - val_loss: 0.2002 - val_auc: 0.9124 - val_acc: 0.9461
Epoch 24/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3957 - auc: 0.9131 - acc: 0.9384 - val_loss: 0.2069 - val_auc: 0.9137 - val_acc: 0.9391
Epoch 25/30
395661/395661 [==============================] - 17s 44us/sample - loss: 0.3941 - auc: 0.9143 - acc: 0.9398 - val_loss: 0.2027 - val_auc: 0.9149 - val_acc: 0.9408
Epoch 26/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3853 - auc: 0.9155 - acc: 0.9406 - val_loss: 0.1828 - val_auc: 0.9160 - val_acc: 0.9425
Epoch 27/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3823 - auc: 0.9165 - acc: 0.9402 - val_loss: 0.1935 - val_auc: 0.9171 - val_acc: 0.9425
Epoch 28/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3774 - auc: 0.9177 - acc: 0.9403 - val_loss: 0.1701 - val_auc: 0.9181 - val_acc: 0.9471
Epoch 29/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3741 - auc: 0.9186 - acc: 0.9398 - val_loss: 0.1923 - val_auc: 0.9191 - val_acc: 0.9411
Epoch 30/30
395661/395661 [==============================] - 17s 43us/sample - loss: 0.3683 - auc: 0.9196 - acc: 0.9409 - val_loss: 0.1771 - val_auc: 0.9201 - val_acc: 0.9460

In [32]:
%load_ext tensorboard
%tensorboard --logdir logs

Reusing TensorBoard on port 6006 (pid 479), started 0:20:06 ago. (Use '!kill 479' to kill it.)